[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
alembic = "*"
appdirs = "*"
appnope = "*"
bcrypt = "*"
beautifulsoup4 = "*"
blinker = "*"
cffi = "*"
click = "*"
coverage = "*"
decorator = "*"
dominate = "*"
Flask = "*"
Flask-Bcrypt = "*"
Flask-Bootstrap = "*"
Flask-DebugToolbar = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-Testing = "*"
Flask-WTF = "*"
fudge = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
Mako = "*"
Markdown = "*"
MarkupSafe = "*"
mypy = "*"
packaging = "*"
pexpect = "*"
pickleshare = "*"
praw = "*"
prawcore = "*"
psycopg2 = "*"
ptyprocess = "*"
pycparser = "*"
Pygments = "*"
pyparsing = "*"
python-editor = "*"
requests = "*"
simplegeneric = "*"
simplejson = "*"
six = "*"
soundcloud = "*"
SQLAlchemy = "*"
traitlets = "*"
typed-ast = "*"
visitor = "*"
wcwidth = "*"
Werkzeug = "*"
WTForms = "*"
prompt_toolkit = "*"
update_checker = "*"
