{% extends "_base.html" %} {% block title %} Dashboard {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="page-header">
      <h1><small>{{user.username}}::</small>Dashboard</h1>
      <h5><a href="{{ url_for('user.manage_sources') }}">Manage Feeds</a></h5>
    </div>
</div>

    {% if not user.feeds %}
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
                <h3>
                    It looks like you havent added any feeds. <br>
                    <a href="{{ url_for('user.manage_sources') }}">Add some sources</a> to get a feed goin!
                </h3>
            </div>
          </div>
        </div>
    {% endif %}


{% if user.feeds %}
    {% set feeds = user.feeds %}
    {% include 'main/feed.html' %} 
{% endif %}
{% endblock %}
