{% extends "_base.html" %} {% block title %} Dashboard {% endblock %} {% block content %}
<div class="container">
    <div class="row">

        <div class="col-lg-6">
            <h1 class='page-title'>{{user.username}} :: Dashboard</h1>
        </div>
    </div>
</div>

 <hr>

    {% if not user.feeds %}
        <div class="container">
            <div class="row">

                <div class="col-lg-5">
                    <h3>
                        It looks like you havent added any feeds. <br>
                        <a href="{{ url_for('user.manage_sources') }}">Add some sources</a> to get a feed goin!
                    </h3>
                </div>

            </div>
                                                            

        </div>


    {% else %}
   
        <div class="row">
            <div class="col-lg-3">
                <h4><a href="{{ url_for('user.manage_sources') }}">Manage Feeds</a></h4>
            </div>
        </div>

        <div class="container-fluid feed-selection">
            <div class="row">

                <div class="col-md-2">
                    <h3>Your Feeds:</h3>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                        
                    {% for feed in user.feeds %} {% set sourceRowName = feed.name|replace(' ', '-')|lower() %}
                        <button type="button" name="toggle-{{sourceRowName}}" class="btn btn-primary toggle-filter" data-toggle="button" aria-pressed="false">{{feed.name}}</button>

                    {% endfor %}<br><br>

                </div>
            </div>

        </div>



    {% endif %}


{% if user.feeds %}
    {% include 'main/feed.html' %} 
{% endif %}
{% endblock %}
