{% extends "_base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block content %} 

<h1>{% block title %}Manage Sources{% endblock %}</h1>
<hr><br>
 <h4><a href="{{ url_for('user.dashboard') }}">Back to Dashboard</a></h3>



<div class="container">
    <div class="row">

        <div class="col-xs-5">
            <h3>Current Feeds</h3>
            <form class='form' role='form' method="post" action="{{url_for('user.remove_sources')}}">

                {{ current.csrf_token }}{{ current.hidden_tag() }} {{ wtf.form_errors(current, hiddens='only') }} {% for subfield in current.follow_sources %}

                <div class="row">
                    <div class="col-lg col-xs">
                        {{subfield}}{{subfield.data}}
                    </div>
                </div>

                {% endfor %}

                <div class="row">
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

    <div class="row">
        
        <div class="col-xs-5">
              <h3>Add New Feeds</h3>
            {% set action=url_for('user.add_sources') %}
            {% set btn_label='Subscribe' %}
            {% set form=new %}
            {% include 'main/search_form.html' %}
        </div>
    </div>  


</div>

{% endblock %}
