{% extends "_base.html" %} {% block content %}

<div class="container">
    <div class="row">

        <div class="col-lg-5">
            <h1>Dashboard</h1>
            <h3>{{user.email}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
              <h4><a href="{{ url_for('user.manage_sources') }}">Manage Feeds</a></h4>
        </div>
    </div>
</div>


{% if not user.feeds %}

<div>
    <h3>
        It looks like you havent added any feeds.
        Head over to the <a href="{{ url_for('main.sources') }}">Feed Sources</a> to subscribe to some tunes!
    </h3>
</div>

{% endif %}






<div class="container">
    <h3>Showing items from:</h3><br><br>
    <div class="col-lg-4">
    <ul>
        {% for feed in user.feeds %}
        <div class="row">
            <li><a href="{{feed.url}}">{{feed.name}}</a></li>
        </div>

        {% endfor %}
    </ul>
          
    </div>
</div>

{% include 'main/feed.html' %}


{% endblock %}
