{% extends "_base.html" %} {% block title %} Dashboard {% endblock %} {% block content %}

<div class="container">
    <div class="row">

        <div class="col-lg-6">
            <h1 class='page-title'>{{user.username}} :: Dashboard</h1>
        </div>
    </div>

    {% if not user.feeds %}
        <div class="container">
            <div class="row">

                <div class="col-lg-5">
                    <h3>
                        It looks like you havent added any feeds. <br>
                        <a href="{{ url_for('user.manage_sources') }}">Add some sources</a> to get a feed goin!
                    </h3>
                </div>

            </div>
                                                            

        </div>


    {% else %}
        <div class="row">
            <div class="col-lg-3">
                <h4><a href="{{ url_for('user.manage_sources') }}">Manage Feeds</a></h4>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-5">
                    <h3>Your Feeds:</h3>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-5">

                    {% for feed in user.feeds %} {% set sourceRowName = feed.name|replace(' ', '-')|lower() %}
                    <div class="row">
                        <div class="col-xs-5">
                            <input checked type="checkbox" name="toggle-{{sourceRowName}}" class='toggle-filter'><a href="{{feed.url}}"> {{feed.name}}</a></li>
                        </div>
                    </div>

                    {% endfor %}<br><br>

                </div>
            </div>

        </div>



    {% endif %}


    
<script type="text/javascript">
    var feedToggles = $('.toggle-filter');
    Array.from(feedToggles).forEach(function(elem, id) {

        elem.addEventListener('click', function() {

            var rowClassName = elem.name.replace('toggle-', '').replace('/r/', '');
            console.log('Filtering ' + rowClassName);

            var rowClass = '.' + rowClassName + '-source';
            $(rowClass).toggle();

        })

    })
</script>



{% if user.feeds %}
    {% include 'main/feed.html' %} 
{% endif %}
{% endblock %}
