{% extends "_base.html" %} {% block content %}

<div class="container">
    <div class="row">

        <div class="col-lg-5">
            <h1>Dashboard</h1>
            <h3>{{user.email}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
              <h4><a href="{{ url_for('user.manage_sources') }}">Manage Feeds</a></h4>
        </div>
    </div>
</div>


{% if not user.feeds %}

<div>
    <h3>
        It looks like you havent added any feeds.
        Head over to the <a href="{{ url_for('main.sources') }}">Feed Sources</a> to subscribe to some tunes!
    </h3>
</div>

{% endif %}






<div class="container">
    <h3>Showing items from:</h3><br><br>
    <div class="col-lg-4">
    <ul>
        {% for feed in user.feeds %}
        <div class="row">
            <li><a href="{{feed.url}}">{{feed.name}}</a></li>
        </div>

        {% endfor %}
    </ul>
          
    </div>
</div>

<div class="container-fluid feed-list col-sm-7">

    <table class="table table-responsive table-striped" id="feed-table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Subreddit</th>
                <th>Title</th>
                {#
                <th>Username</th> #}
            </tr>
        </thead>
        <tbody>
            {% for post in by_domain['youtube'] %}
            <tr class='table-row-{{post.video_id}}'>

                <th scope="row">
                <td class="col-sm-2 post-item" id="{{post.video_id}}"></td>

                </th>
                <td>{{post.subreddit}}</td>
                <td class="col-sm-5 post-title" id="{{post.video_id}}-title">
                    <a href="{{post.url}}">{{post.title}}</a></td>

            </tr>

            {% endfor %}
        </tbody>
    </table>



</div>

<div class="now-playing-display container col-sm-4">
    <h2>Now Playing...</h2>
    <div class="youtube-player" data-video="" data-autoplay="0" data-loop="1" id="youtube-player">
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{{url_for('static', filename='youtube.js')}}"></script>


{% endblock %}
