<!DOCTYPE html>
<html>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<head>
    <meta charset="utf-8">
    <title>amnisiac{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" media="screen"> {% block css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Gloria+Hallelujah|Kreon:400,700" rel="stylesheet">


    {# FAVICON #}
    <link rel="apple-touch-icon" sizes="57x57" href="static/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



</head>

<body>

    {% include 'header.html' %}

    <div class="site-content">
        <div class="container">

            <!-- messages -->
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
            <br>
            <div class="row">
                <div class="col-md-12">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a> {{message}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %} {% endwith %}


            <!-- child template -->
            {% block content %}{% endblock %}

            <br>

            <!-- errors -->
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}

        </div>
    </div>

    <br><br> {% include 'footer.html' %}

    <!-- scripts -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>
    {% block js %}{% endblock %}

</body>

</html>
