/* custom css */
/*font-family: 'Gloria Hallelujah', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Kreon', serif;*/

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.jumbotron {
  background-color: white;
}

.site-content {
  padding-top: 75px;
  color: black;
  /*background-color: #efd2eb;*/


}

#source-list {
    height:200px;
    border:1px solid black;
    overflow: scroll;
}


button.btn.toggle-filter {
  color: purple;
  background-color: white;
  border-color: purple;


}

button.btn.toggle-filter.active {
  color: gray;
  border-color: grey;
  /*background-color: white;*/
}

.feed-selection {
/*  border-style: solid;
  border-width: thin;
  border-color: #efd2eb
*/}
/*#source-list {
    visibility: hidden;
}
#source-list .active {

    height:130px;
    border:1px solid black;
    overflow: scroll;
}*/
/*.row {
  border-color: purple;
  border-style: solid;
  border-width: thin;
  padding: 10px;

}*/


/*li {
    height:200px;
    margin:0;
    border:1px solid black;
}
}*/

a:hover, a:focus {
    color: #6300f9;
}

.post-title a {
    font-family: 'Comfortaa', cursive;
    font-size: 20;
    

}

#feed-list {
   /*width: auto !important;*/
   margin: 0px auto;
}

.post-row.active > * {
    background-color: #efd2eb !important;
}

.youtube-player {
  max-width: 100%;
  margin: 0px auto;
}

.youtube-player > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.youtube-player iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


.feed-list {
/*    border-color: purple !important;
    border-width: thin !important;
    border-style: solid;
*/    /*color: #ffd8fb;*/
    /*background-color: #5b2c56;*/
    margin: 0px auto;
    font-size: 20;
    font-family: 'Gloria Hallelujah', cursive;
    height: 500px;
   /*border: 2px solid #5b2c56;*/
   overflow: scroll;
}



h1 {
    font-family: 'Comfortaa', cursive;

}

h3 {
    font-family: 'Kreon', serif;
}

/*.page-title {
    background-color: black;
    color: #efd2eb;
}*/

/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    background-color: white;
    /*border-color: #E7E7E7;*/
    border-color: purple !important;
    border-width: thin !important;
    border-style: solid;
    font-family: 'Comfortaa', cursive;

}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
    color: purple;
    /*outline: 1px solid orange;*/
    
    /*font-size: 20;*/

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    /*color: #5E5E5E;*/
    /*color: #efd2eb;*/
    background-color: #efd2eb;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
    color: purple;
    border-width: thin;
    border-style: solid solid solid solid;
    border-color: #efd2eb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    color: #efd2eb;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    /*background-color: #E7E7E7;*/
    /*background-color: purple;*/
    background-color: #e5dce4;

}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
    background-color: blue;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}