<div class="container" id="now-playing-display">
    <div class="row">

        <div class="col-xs-4">
            <h2>Now Playing...</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div class="youtube-player" data-video="" data-autoplay="0" data-loop="1" id="youtube-player">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div id='sc-player-div'>
            </div>
        </div>
    </div>
</div>

<div><button type="button" class="btn btn-link" id='toggle-player' data-toggle="button" aria-pressed="false" autocomplete="off">Hide Player</button> </div>


<div class="container feed-list col-xs-12 col-md-7">

    <table class="table table-responsive table-striped col-xs-7" id="feed-table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Subreddit</th>
                <th>Title</th>
                {#
                <th>Username</th> #}
            </tr>
        </thead>
        <tbody>

        {% for item in items %}

            {% if 'Submission' in item.__class__.__name__ %}
                {% if 'you' in item.domain and item.video_id %}
                    <tr class='reddit-row'>

                        <th scope="row">
                        <td><img src="http://findicons.com/files/icons/2779/simple_icons/4096/reddit_4096_black.png" width='40' height='40'></td>
                            <td class="col-xs-2 post-item reddit-post" id="{{item.video_id}}"></td>

                        </th>
                        <td>{{item.subreddit}}</td>
                        <td class="col-xs-5 post-title" id="{{item.video_id}}-title">
                            <a href="{{item.url}}">{{item.title}}</a></td>

                    </tr>
                {% endif %}
            {% endif %} 

            {% if 'Resource' in item.__class__.__name__ %}
                <tr class='sc-row'>

                        <th scope="row">
                        <td> <img src="https://developers.soundcloud.com/assets/logo_big_black-4fbe88aa0bf28767bbfc65a08c828c76.png" width='40' height='40'></td>
                            <td class="col-xs-2 post-item sc-post" id="{{item.id}}"></td>

                        </th>
                        <td>{{item.user['username']}}</td>
                        <td>{{item.title}}</td>
                       {#  <td class="col-xs-5 post-title" id="{{item.video_id}}-title">
                            <a href="{{item.url}}">{{tem.title}}</a></td>
 #}
                    </tr>
            {% endif %}





            {% endfor %} 

  

        </tbody>
    </table>

</div>


<script type="text/javascript">
$(function() {

    var btn = $('#toggle-player');
    var display = $('#now-playing-display');
    btn.hide();
    display.hide();
    btn.click(function() {
        display.toggle();
        if (display.is(':visible')) {
            btn.text('hide video player')
        } else {
            btn.text('show video player')
        }

    });
});

</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
{# <script src="{{url_for('static', filename='scWidgetSource.js')}}"></script> #}
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
{# <script src="{{url_for('static', filename='feed.js')}}"></script> #}

<script src="{{url_for('static', filename='youtube.js')}}"></script>
<script src="{{url_for('static', filename='soundcloud.js')}}"></script>

