<hr>

  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2" align='center'>
        <div class="container-fluid feed-selection">
        <div class="row">
          <div class="col-xs">
            <h3>Showing Items From</h3>
          </div>
        </div>
        {% for feed in feeds %}
        {% set sourceRowName = feed.name|replace(' ', '-')|lower() %}
          <div class="row">
              <div class="col-xs">
                <button type="button" name="toggle-{{sourceRowName}}" class="btn btn-primary btn-block toggle-filter" data-toggle="button" aria-pressed="false">{{feed.name}}</button>
               </div>
          </div>
        {% endfor %}<br><br>
        </div>       
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="jumbotron" id="now-playing-display">
          <h2 class="display-3" id='now-playing-title'>Now Playing</h2>
             <p class="youtube-player" data-video="" data-autoplay="0" data-loop="1" id="youtube-player">
             </p>
             <p class="row">
            <p class="col-lg">
                <p id='sc-player-div'>
                </p>
            </p>
            </p>
          <hr class="m-y-md">
          {# <p id='now-playing-title'></p> #}
          <p class="lead">
            <a class="btn btn-primary btn-lg" id='now-playing-source' href="#" role="button">View Source</a>
          </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" id='now-playing-source' href="#" role="button">View Source</a>
          </p>
          <hr class="m-y-md">

        </div>
      </div>
    </div>

  </div>  

<div><button type="button" class="btn btn-link" id='toggle-player' data-toggle="button" aria-pressed="false" autocomplete="off">Hide Player</button> </div>

<hr>



<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h3>New Tracks</h3>
    </div>
  </div>  

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2" align='center'>
      <div class="container-fluid feed-list">
        <div class="row">
          <table class="table table-striped" id="feed-table">
              <thead>
                  <tr>
                      {# <th></th> #}
                      <th></th>
                      <th>Source</th>
                      <th>Title</th>
                      <th></th>

                  </tr>
              </thead>
              <tbody>

              {% for item in items %}

                  {% if 'reddit' in item.source %}
                    {# {% if 'you' in item.domain and item.video_id %} #}
                      {% set sourceRowName = item.subreddit|replace('r/', '')|lower() %}

                      <tr class='reddit-row post-row {{sourceRowName}}-source'>

                        
                        <td class="col-xs-4 col-md-2 post-item reddit-post" height="100%" id="{{item.track_id}}"></td>

                        <td class='post-source'><a href="{{item.url}}"><img src="{{url_for('static', filename='icons/reddit.png')}}" width='40' height='40'></a><br>
                        {{item.subreddit}}</td>
                        
                        <td class="post-title" id="{{item.track_id}}-title">{{item.raw_title}}</td>
                        {# <a href="{{item.url}}">{{item.title}}</a></td> #}
                        <td><button type="button" class="btn btn-link save-btn" id="{{item.track_id}}-save">Save</button></td>

                      </tr>
                    {# {% endif %} #}
                  {% endif %} 

                  {% if 'sc' in item.source %}
                    {% set sourceRowName = item.artist|replace(' ','-')|lower() %}

                      <tr class="sc-row post-row {{sourceRowName}}-source">

                        {# <th scope="row"> #}
                        <td class="col-xs-2 post-item sc-post" id="{{item.track_id}}"></td>

                        <td class='post-source'><img src="{{url_for('static', filename='icons/soundcloud.png')}}" width='40' height='40'><br>
                        {{item.artist}}</td>

                        <td class='post-title' id='{{item.track_id}}-title'>{{item.title}}</td>
                        <td><button type="button" class="btn btn-link save-btn" id="{{item.track_id}}-save">Save</button></td>

                      </tr>
                  {% endif %}

                  {% endfor %} 

        

              </tbody>
          </table>
        </div>
      </div>   
    </div>
  </div>

</div>

{# 
<div class="container">
  <div class="row">

    <div class="col-xs">
      <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
          <h1>Player</h1>
      </div>
    </div>

  </div>
</div>
 #}






