<hr>
<div class="container-fluid" id="now-playing-display">
    <div class="row">

        <div class="col-xs-4">
            <h2>Now Playing...</h2>
        </div>
    </div>

    <div class="row">
        <div class="youtube-player col-md-8" data-video="" data-autoplay="0" data-loop="1" id="youtube-player">
        </div>
    </div>

    <div class="row">
        <div class="col-lg">
            <div id='sc-player-div'>
            </div>
        </div>
    </div>
</div>

<div><button type="button" class="btn btn-link" id='toggle-player' data-toggle="button" aria-pressed="false" autocomplete="off">Hide Player</button> </div>

<hr>


<div class="container-fluid feed-list col-md-8">

    <table class="table table-striped" id="feed-table">
        <thead>
            <tr>
                {# <th></th> #}
                <th></th>
                <th>Source</th>
                <th>Title</th>
                <th></th>

            </tr>
        </thead>
        <tbody>

        {% for item in items %}

            {% if 'reddit' in item.source %}
              {# {% if 'you' in item.domain and item.video_id %} #}
                {% set sourceRowName = item.subreddit|replace('r/', '')|lower() %}

                <tr class='reddit-row post-row {{sourceRowName}}-source'>

                  
                  <td class="col-xs-4 col-md-2 post-item reddit-post" height="100%" id="{{item.track_id}}"></td>

                  <td class='post-source'><img src="{{url_for('static', filename='icons/reddit.png')}}" width='40' height='40'><br>
                  {{item.subreddit}}</td>
                  
                  <td class="post-title" id="{{item.track_id}}-title">{{item.raw_title}}</td>
                  {# <a href="{{item.url}}">{{item.title}}</a></td> #}
                  <td><button type="button" class="btn btn-link save-btn" id="{{item.track_id}}-save">Save</button></td>

                </tr>
              {# {% endif %} #}
            {% endif %} 

            {% if 'sc' in item.source %}
              {% set sourceRowName = item.artist|replace(' ','-')|lower() %}

                <tr class="sc-row post-row {{sourceRowName}}-source">

                  {# <th scope="row"> #}
                  <td class="col-xs-2 post-item sc-post" id="{{item.track_id}}"></td>

                  <td class='post-source'><img src="{{url_for('static', filename='icons/soundcloud.png')}}" width='40' height='40'><br>
                  {{item.artist}}</td>

                  <td class='post-title' id='{{item.track_id}}-title'>{{item.title}}</td>
                  <td><button type="button" class="btn btn-link save-btn" id="{{item.track_id}}-save">Save</button></td>

                </tr>
            {% endif %}

            {% endfor %} 

  

        </tbody>
    </table>

</div>



