{% extends "_base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}


        <div class="jumbotron">
            <h1 class="display-3">amnisiac</h1><img src="/static/icons/mtn-stream.png">
            <p class="lead">Discover new music by subscribing to subreddits and soundcloud users</p>
            <hr class="m-y-md">
        </div>

        <div class="container-fluid col-xs-6">
                {% set action=url_for('main.results') %}
                {% set btn_label='Listen' %}
                {% include 'main/search_form.html' %}
        </div>



{% endblock %}
