{% import "bootstrap/wtf.html" as wtf %} {# {% block sub_search %} #}


<form class='form' role='form' method="post" action="{{action}}">
    {{ form.csrf_token }} {{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens='only') }}

    <div class="row">
      <div class="col-xs">
        {{ wtf.form_field(form.reddit_search)}}

           <div class="row">
             <div class="col-xs-2">
               <button type="button" class="btn btn-link" id='toggle-sources'>Show list</button>
             </div>
           </div>

          <div class="row">
            <div class="col-xs" id="source-list">
                <table class="table table-invert" id='source-table'>
              <thead class='thead-default'>
                <tr>
                    <div class="col-lg-5">
                        <div id='nav'></div>
                    </div>
                </tr>
                <tr>
                    <th>{{form.follow_sources.label}}</th>
                </tr>
              </thead>
              <tbody>
                {% for subfield in form.follow_sources %}
                <tr>
                    <td>{{subfield}}{{subfield.data}}</td>
                </tr>
                {% endfor %}
              </tbody>
                </table>
            </div>
          </div>

          <div class="row">
            <div class="col-xs">
                {{wtf.form_field(form.sc_search)}}
            </div>  
          </div>
      </div>
    
    </div>

    

    <div class="row">
        <div class="col-xs">
            <button type="submit" class="btn btn-success">{{btn_label}}</button>
        </div>
    </div>

</form>