<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>amnisiac{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" media="screen"> {% block css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Gloria+Hallelujah|Kreon:400,700" rel="stylesheet">


    {# FAVICON #}
    <link href="https://d30y9cdsu7xlg0.cloudfront.net/png/175419-200.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://d30y9cdsu7xlg0.cloudfront.net/png/175419-200.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://d30y9cdsu7xlg0.cloudfront.net/png/175419-200.png">


    <meta name="theme-color" content="#ffffff">



</head>

<body>

    {% include 'header.html' %}

    <div class="site-content">
        <div class="container">

            <!-- messages -->
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
            <br>
            <div class="row">
                <div class="col-md-12">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a> {{message}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %} {% endwith %}


            <!-- child template -->
            {% block content %}{% endblock %}

            <br>

            <!-- errors -->
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}

        </div>
    </div>

    <br><br> {% include 'footer.html' %}

    <!-- scripts -->
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>
    {% block js %}{% endblock %}

</body>

</html>
